kind: Cluster
name: west
apiVersion: kind.x-k8s.io/v1alpha4
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
      endpoint = ["http://proxy:5000"]
nodes:
  - role: control-plane
  - role: worker
networking:
  podSubnet: 10.241.1.0/16
  serviceSubnet: 10.110.1.0/16
  apiServerAddress: "0.0.0.0"
  disableDefaultCNI: true
